<div style="width: 120px; padding: 15px 0px 34px; margin: 0 auto">
  <div style="width: 30px; height: 30px; margin: 0 auto">
    <img
      src="https://w7.pngwing.com/pngs/23/42/png-transparent-computer-icons-doc-others-thumbnail.png"
      style="object-fit: cover; width: 100%; height: 100%" />
  </div>
</div>
